@font-face {
  font-family: bitter;
  src: url(Bitter-Bold.woff);
}

@font-face {
  font-family: inter;
  src: url(Inter-Regular.otf);
}

.body {
    background-color: #FBF6F3;
}

.bg-blur {
    background: transparent;
    backdrop-filter: blur(5px);
    border-bottom: #333333 1px solid;
    box-shadow: #272727 0px 2px 10px 1px;
}

.navtext > li > a {
    font-size: 18px;
    font-family: bitter;
}

.navtext > li > a:hover {
    text-decoration: underline;
    text-decoration-color: #E7A04E;
}

.contact {
    margin-top: 150px;
    text-align: center;
    font-family: bitter;
    font-size: 36px;
    color: #333333;
}

.bitterfont {
    font-family: bitter;
}

.interfont {
    font-family: inter;
}

.footer {
    background-color: #384634;
    font-family: inter;
    color: white;
    border-top: #333333 1px solid;
}

.regulatelinks {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.regulatelinks:hover {
    text-decoration: underline;
    text-decoration-color: #E7A04E;
}

.heroimage {
    background-image: url('../images/bg-6.png');
    background-size: cover;
    background-position: center;
    border-bottom: #333333 1px solid;
}

.regulatesize {
    max-width: 400px;
    height: auto;
}

.background {
    background-color: #e9e1dc;
    border-radius: 10px;
    border: #d2d2d2 1px solid;
    box-shadow: #333333 2px 2px 3px;
}

.alteredbackground  {
    background-color: #d2ccc7;
    border-radius: 10px;
    border: #d2d2d2 1px solid;
}